/*
    h2 => seleclector (bộ chọn, vùng chọn)
    background-color, color, font-sze => property (thuộc tính)
    purple, #fff, italic => value (giá trị)

    CÁCH ĐẶT TÊN CLASS - ID:
    - Cú pháp: 
    +) chấp nhận chữ cái (thường, hoa), số, gạch dưới, gạch ngang
    +) Không được bắt đầu bằng số
    +) không chấp nhận ký tự đặc biệt (%, $, @, &...)
    
    - Lưu ý:
    +) Đặt class có ý nghĩa (hạn chế tối đa việc viết tắt)
    +) nên sử dụng tiếng Anh
    +) nên sử dụng theo quy tắc BEM (Block Element Modifier) -> hạn chế: theo quy tắc sẽ dài

*/

p{
    color: red;
}

h2{
    /*background-color: tomato;*/
    color: white;
    font-size: large;
}

#text {
    color: blue;
}

.title {
    color: khaki;
}
.feature {
    color: green;
}
h3 {
    color: purple;
    font-style: italic;
}