/*
    h2 => seleclector (bộ chọn, vùng chọn)
    background-color, color, font-sze => property (thuộc tính)
    purple, #fff, italic => value (giá trị)
*/

p{
    color: red;
}

h2{
    /*background-color: tomato;*/
    color: white;
    font-size: large;
}

#text {
    color: blue;
}

.title {
    color: khaki;
}
.feature {
    color: green;
}