html{
    font-size: 16px;
}
body{
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
.testimonials-box{
    background: #efefef;
    padding: 30px 0 ;
}
.testimonials-box h2 {
    text-align: center;
    font-size: 2rem;
}
.testimonials-box h2::after {
    content: '';
    display: block;
    width: 60px;
    height: 4px;
    background:rgb(97, 97, 213) ;
    margin: 10px auto 0; /* top - left, right - bottom */
}
.testimonials-box .avt {
    width: 70px;
    height: 70px;
    text-align: center;
    background: seagreen;
    color: #fff;
    line-height: 70px;
    font-size: 3rem;
    border-radius: 50%;
}
.testimonials-box p {
    margin-top: 0;
}
.testimonials-box p:first-child{
    font-style: italic;
}
.testimonials-box p:last-child{
    font-weight: bold;
}