/*
HỆ THỐNG LƯỚI PHỤC VỤ CHIA LAYOUT CSS
- chia chiều rộng màn hình thành 12 cột bằng nhau
- xây dựng các class tương ứng với độ rộng muốn chiếm 
 
**LƯU Ý: 
- nên sử dụng calc() để áp dụng công thức tính toán trong css
*/



 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
}
.col{
    float: left;
    min-height: 1px;
    padding: 0 10px;
}
.col-1{
    width: calc(100% / (12/1));
}
.col-2{
    width: calc(100% / (12/2));
}
.col-3{
    width: calc(100% / (12/3)); /* công thức: 100%/(12/3)*/
}
.col-4{
    width: calc(100% / (12/4));
}
.col-5{
    width: calc(100% / (12/5));
}
.col-6{
    width: calc(100% / (12/6));
}
.col-7{
    width: calc(100% / (12/7));
}
.col-8{
    width: calc(100% / (12/8));
}
.col-9{
    width: calc(100% / (12/9));
}
.col-10{
    width: calc(100% / (12/10));
}
.col-11{
    width: calc(100% / (12/11));
}
.col-12{
    width: calc(100% / (12/12));
}

/* Custom
.product-box .product-item{
    border: 1px solid #ccc;
} */