/* THUỘC TÍNH COLOR 
- Tác dụng: Thay đổi màu sắc của văn bản
- Cú pháp: color: <value>
+) color: tên thuộc tính
+) value: màu sắc cần thay đổi

=> value nhận các giá trị:
+) tên màu (tiếng Anh) => áp dụng với các màu cơ bản, phổ biến
+) mã màu hexa (# + 6 ký tự)
=> nếu 6 ký tự giống hệt nhau thì chỉ cần viết 3 ký tự
+) màu RGB
+) màu hsl

CÁC CÁCH LẤY MÃ MÀU::after
+) dùng color picker: VSCODE, web onilne, extensions, phần mềm thiết kế (PTS, AI, XD?),...
+) extensions hỗ trợ: colorzilla
+) dùng qua DevTools

THIẾT LẬP OPACITY CỦA COLOR:
+) dùng color picker của DevTool để giảm opacity
+) dùng color picker của VSCode để giảm Opacity
+) dùng rgba(num1, num2, num3, opacity) =) opacity trong rgba() sẽ nhận giá trị từ 0-1
+) dùng rgb(num1, num2, num3/opacity) => opacity trong rgb() sẽ nhận giá trị từ 0-100%

**LƯU Ý: tất cả các thuộc tính liên quan đến màu sắc đều phải áp dụng nguyên tắc của bài này

*/

.text {
    color: rgba(62 62 239 / 75%);
}

.content {
    color: rgba(255, 19, 19, 0.7);
}
