/*
    h2 => seleclector (bộ chọn, vùng chọn)
    background-color, color, font-sze => property (thuộc tính)
    purple, #fff, italic => value (giá trị)

    CÁCH ĐẶT TÊN CLASS - ID:
    - Cú pháp: 
    +) chấp nhận chữ cái (thường, hoa), số, gạch dưới, gạch ngang
    +) Không được bắt đầu bằng số
    +) không chấp nhận ký tự đặc biệt (%, $, @, &...)
    
    - Lưu ý:
    +) Đặt class có ý nghĩa (hạn chế tối đa việc viết tắt)
    +) nên sử dụng tiếng Anh
    +) nên sử dụng theo quy tắc BEM (Block Element Modifier) -> hạn chế: theo quy tắc sẽ dài
*/

/* ================== STYLE CHUNG ================== */

/* p{
    color: red;
    font-size: 1.2rem;
}  */

h2{
    /*background-color: tomato;*/
    color: white;
    font-size: large;
}

h3{
    color: purple;
    font-style: italic;
}

.title{
    color: khaki;
}

.feature{
    color: green;
}

/* ================== EX01 ================== */

article.ex01 .title.feature{
    color: green;
}

/* ================== EX02 - PHÂN CẤP ================== */

/* PHÂN CẤP KHÔNG GIỚI HẠN */
article.ex02 .container .item{
    color: orchid;
}

article.ex02 .main .item{
    color: blue;
}

article.ex02 .products .products-name{
    color: cadetblue;
    font-style: italic;
    font-size: 1.5rem;
}

/* PHÂN CẤP 1 CẤP (CHA > CON) */
article.ex02 .news > .news-item > .news-details{
    color: rgb(245, 11, 11);
    font-style: italic;
}

/* MENU CHA */
article.ex02 .primary-menu > ul > li > a{
    color: rgb(215, 12, 12);
    text-decoration: none;
}

/* MENU CON */
article.ex02 .primary-menu > ul ul li a{
    color: rgb(54, 26, 232);
    text-decoration: none;
}

/* BACKGROUND MENU CON */
article.ex02 .primary-menu > ul ul{
    background-color: lightgray;
}

/* ================== SELECTOR CÙNG CẤP ================== */

article.ex02 div.block{
    color: rgb(209, 69, 18);
}

article.ex02 p.block{
    color: rgb(19, 135, 96);
}

/* ================== SELECTOR NHIỀU CLASS ================== */

article.ex02 .element.text{
    color: green;
    font-style: italic;
}

article.ex02 .title.element{
    color: orchid;
}

/* ================== EX03 ================== */

article.ex03 .products-box .products-item{
    color: chocolate;
    font-style: oblique;
    font-size: 1rem;
}

article.ex03 .products-box .products-item.feature{
    color: rgb(30, 210, 150);
    font-size: 1.5rem;
}

/* SELECTOR CÙNG CẤP ~ */

article.ex03 p ~ ul{
    background: lightblue;
}

/*
 select1 ~ select2 => bên html select1 nằm trước select2
 - select1 và select2 phải ngang hàng với nhau
 - select1 và select2 phải nằm cùng trong 1 cha
 - select2 nằm sau nhưng không liên tiếp (có thể xen ngang thành phần html khác)
*/





















































